{%extends 'network/layout.html'%}

{%block body%}
    {% for i in followers %}
        <div class="profile">
            <h3 class="profile-name"><a href="{%url 'profile' i%}">{{i}}</a></h3>
            <div class="profile-follow">
                <a href="{%url 'followers' i%}" class="mb-2 text-muted follow"><strong id="follower-count">{{i.followers.count}}</strong> follower</a>
                <a href="{%url 'followed' i%}" class="mb-2 text-muted follow"> <strong id="following-count">{{i.following.count}}</strong> following</a>
            </div>
        </div>    
        <hr>
    {%endfor%}
{%endblock%}
