{% extends "network/layout.html" %}

{% block body %}
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            {%if user.is_authenticated%}
            document.querySelector('#create').onclick=()=>{
                fetch(csrfRequest("{%url 'create'%}"),{
                    method:'POST',
                    body:document.querySelector('#content').value
                })
                .then(response=>{
                    document.querySelector('#content').value=''
                    console.log(response.json())
                })
                .then(()=>{
                    load('all',1);
                })                
            }
            {%endif%}
            function load(param,page){
                fetch("{%url 'posts'%}?"+ new URLSearchParams({
                    filter:param,
                    pagenum:page
                }))
                .then(response=>response.json())
                .then(data=>{
                    document.querySelector('#allpost').innerHTML=''
                    console.log(data);
                    next=data['next'];
                    previous=data['previous'];
                    pagedata=data['page'];
                    pagedata.forEach(post=>{
                        let card=document.createElement('div');
                        card.className='card';
                        let body=document.createElement('div');
                        body.className='card-body';
                        card.append(body);
                        let user=document.createElement('a');
                        user.innerHTML=`<h5>${post['user']}</h5>`;
                        user.href=`{%url 'profile'%}/${user.firstChild.innerHTML}`;
                        user.className='card-title';
                        body.append(user);
                        let content_container=document.createElement('div');
                        if(post['user']==='{{user.username}}'){
                            let edit=document.createElement('div');
                            edit.className='edit';
                            edit.innerHTML='edit';
                            edit.onclick=()=>{
                                editpost(content_container,post['id'])
                            }
                            body.append(edit);
                        }
                        let content=document.createElement('div');
                        content.className='card-text';
                        content.innerHTML=post['content'];
                        content_container.append(content);
                        body.append(content_container);
                        let time=document.createElement('time');
                        time.innerHTML=post['time'];
                        time.className='mb-2 text-muted';
                        body.append(time);
                        let like=document.createElement('div');
                        let likeicon=document.createElement('span');
                        let likecount=document.createElement('span');
                        fetch("{%url 'like'%}?"+ new URLSearchParams({
                            id:post['id']
                        }))
                        .then((response)=>response.json())
                        .then(data=>{
                            if(data['liked'].includes("{{user.username}}" )){
                                likeicon.className='liked fa fa-thumbs-up';
                            }
                            else{
                                likeicon.className='notliked fa fa-thumbs-up';
                            }
                        })
                        likeicon.onclick=()=>{
                            fetch(csrfRequest("{%url 'like'%}?"+new URLSearchParams({
                                id:post['id']
                            })),{
                                method:'POST',
                            })
                            .then(response=>response.json())
                            .then(data=>{
                                load(param,page);
                                console.log(data);
                            })
                        }
                        likecount.innerHTML=post['like'];
                        like.append(likeicon,likecount);
                        body.append(like);
                        document.querySelector('#allpost').append(card)
                    })
                    if(previous===true){
                        let prevbutton=document.createElement('button');
                        prevbutton.className='btn btn-primary pagebutton';
                        prevbutton.innerHTML='Previous';
                        prevbutton.onclick=()=>{
                            load(param,page-1)
                        }
                        document.querySelector('#allpost').append(prevbutton);
                    }
                    if(next===true){
                        let nextbutton=document.createElement('button');
                        nextbutton.className='btn btn-primary pagebutton';
                        nextbutton.style.float='right';
                        nextbutton.innerHTML='Next';
                        nextbutton.onclick=()=>{
                            load(param,page+1);
                        }
                        document.querySelector('#allpost').append(nextbutton);
                    }
                })
            }
            function editpost(content_container,post_id){
                let content=content_container.firstChild.innerHTML;
                let content_textarea=document.createElement('textarea');
                content_textarea.innerHTML=content;
                content_textarea.id='edit-textarea'
                content_container.replaceChild(content_textarea,content_container.firstChild);
                let content_button=document.createElement('button');
                content_button.className='btn btn-primary';
                content_button.innerHTML='Edit';
                content_button.onclick=()=>{
                    fetch(csrfRequest("{%url 'create'%}"),{
                        method:'PATCH',
                        body:JSON.stringify({
                            'id':post_id,
                            'content':document.querySelector('#edit-textarea').value
                        })
                    })
                    .then(response=>{
                        console.log(response.json())
                    })
                    .then(()=>{
                        load('all',1);
                    })  
                }
                content_container.append(content_button);
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function csrfRequest(url){
                return(new Request(
                     url, {headers: {'X-CSRFToken': getCookie('csrftoken')}} 
                ));
            }
            load('all',1)
        })
    </script>
    {%if user.is_authenticated%}
        <div id='new post' class="card">
            <h4 class="card-header">New Post</h4>
            <div class="card-body">
                <textarea id="content"></textarea>
                <div><button id='create' type="button" class="btn btn-primary">Post</button></div>
            </div>
        </div>
    {%endif%}
    <div id="allpost"></div>
{% endblock %}