{% extends "network/layout.html" %}

{% block body %}
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            document.querySelector('#create').onclick=()=>{
                fetch(csrfRequest("{%url 'create'%}"),{
                    method:'POST',
                    body:document.querySelector('#content').value
                })
                .then(response=>{
                    document.querySelector('#content').value=''
                    console.log(response.json())
                })
                load()
            }
            function load(){
                fetch("{%url 'posts' 'all'%}")
                .then(response=>response.json())
                .then(data=>{
                    data.forEach(post=>{
                        let card=document.createElement('div');
                        card.className='card';
                        let body=document.createElement('div');
                        body.className='card-body';
                        card.append(body);
                        let user=document.createElement('h5');
                        user.innerHTML=post['user'];
                        user.className='card-title';
                        body.append(user);
                        content=document.createElement('div');
                        content.className='card-text';
                        content.innerHTML=post['content'];
                        body.append(content);
                        time=document.createElement('time');
                        time.innerHTML=post['time'];
                        time.className='mb-2 text-muted';
                        body.append(time);
                        like=document.createElement('div');
                        like.innerHTML=post['like'];
                        body.append(like);
                        document.querySelector('#allpost').append(card)
                    })
                })
            }
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function csrfRequest(url){
                return(new Request(
                     url, {headers: {'X-CSRFToken': getCookie('csrftoken')}} 
                ));
            }
            load()
        })
    </script>
    <div id='new post' class="card">
        <h4 class="card-header">New Post</h4>
        <div class="card-body">
            <textarea id="content"></textarea>
            <div><button id='create' type="button" class="btn btn-primary">Post</button></div>
        </div>
     </div>

     <div id="allpost"></div>

{% endblock %}