.card{
    margin:20px;
}

.card textarea{
    width: 100%;
    height: 100px;
}

.profile{
    padding: 10px;
}

.follow{
    margin-right: 10px;
}

.pagebutton{
    margin: 20px;
}
.edit{
    color: #069;
    cursor: pointer;
    width: fit-content;
}
.edit:hover{
    text-decoration: underline;
}
.liked{
    color: blue;
}
.notliked{
    color:black;
}
.liked:hover{
    color:black
}
.notliked:hover{
    color:blue
}